body {
	margin: 0px;
}

.title {
	margin-top: 0;
	background-color: #569c87;
	height: 90px;
	font-family: Trebuchet MS;
	color: #e4c254;
	font-size: 45px;
	text-align: center;
	padding-top: 30px;
}

.mainmenu1 {
	display: flex;
}

.mainmenu2 {
	display: flex;
}

.menu1 {
	margin: auto;
	margin-bottom: 5%;
	margin-right: 5%;
	background-color: grey;
	height: 450px;
	width: 300px;
}

.menu2 {
	margin: auto;
	margin-bottom: 5%;
	margin-left: 5%;
	background-color: grey;
	height: 450px;
	width: 300px;
}

.menu3 {
	margin: auto;
	margin-right: 5%;
	background-color: grey;
	height: 450px;
	width: 300px;
}

.menu4 {
	margin: auto;
	margin-left: 5%;
	background-color: grey;
	height: 450px;
	width: 300px;
}

.legal {
	display: flex;
	margin-bottom: 0;
	font-family: Trebuchet MS;
	color: #e4c254;
	background-color: #569c87;
	height: 70px;
	font-size: 25px;
	justify-content: space-between;
}

span {
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 20px;
}

.bouton {
	width: 400px;
	height: 45px;
	background: #569c87;
	color: #e4c254;
	border-radius: 11px;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 35PX;
}