@font-face {
	font-family: 'Roboto';
	src: url('police/Roboto-Medium.ttf') format('truetype');	
}

@font-face {
	font-family: 'Shrikhand-Regular';
	src: url('police/Shrikhand-Regular.otf') format('otf');	
}

body
{
    font-family: Roboto;
}

.title-police
{
    font-family: Shrikhand-Regular;
}

.logo
{
    margin: auto;
    margin-left: 40%;
    margin-right: 40%;
}

.location
{
    background-color: #DCDCDC;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    padding-top: 20px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px -4px 0px 0px #CECECE;
}

.misc
{
    background-color: #EFEFEF;
    text-align: center;
    height: 250px;
    padding-top: 40px;
}

.bold
{
    font-weight: bold;
}

.size30
{
    font-size: 30px;
}

.center
{
    text-align: center;
}

.bg-dcdcdc
{
    background-color: #dcdcdc;
    width: 500px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 25px;
}

.bg-2d2d2d
{
    background-color: #2d2d2d;
}

.footer-color
{
    color: #fff;
}

.center-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bull
{
    background-color: #dcdcdc;
    border-radius: 20px;
    height: 50px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.plat-size
{
    height: 350px;
    width: 500px;
    margin-bottom: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.bouton {
	width: 300px;
    height: 45px;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
	color: #FFF;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20PX;
    box-shadow: 0px -2px 0px 0px #CECECE ;
}
