/** PAGE 1**/
@font-face {
	font-family: 'Roboto-Black';
	src: url('police/Roboto-Black.ttf') format('truetype');	
}

@font-face {
	font-family: 'Shrikhand-Regular';
	src: url('police/Shrikhand-Regular.otf') format('otf');	
}

.Shrikhand
{
    font-family: Shrikhand-Regular;
}

body
{
    background-color: #f4edde;
    margin: 0;
    font-family: Roboto-Black;
}

.logo
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.img_page1
{
    width: 980px;
}

.img_page2
{
    height: 590px;
}

.form-color
{
    position: absolute;
    top: 650px;
    background-color: #f4edde;
    border-radius: 70px;
    height: 180px;
    width: 100%;
}

.bold
{
    font-weight: bold;
}

.margin-left
{
    margin-left: 50px;
}

.text-left
{
    text-align: left;
}

/* PLAT 1*/

.text-right_entree_1
{
    text-align: right;
    padding-left: 400px;
}

.text-right_entree_2
{
    text-align: right;
    padding-left: 250px;
}

.text-right_entree_3
{
    text-align: right;
    padding-left: 385px;
}

.text-right_entree_4
{
    text-align: right;
    padding-left: 170px;
}


.text-right_plat_1
{
    text-align: right;
    padding-left: 0px;
}

.text-right_plat_2
{
    text-align: right;
    padding-left: 100px;
}

.text-right_plat_3
{
    text-align: right;
    padding-left: 0px;
}


.text-right_dessert_1
{
    text-align: right;
    padding-left: 620px;
}

.text-right_dessert_2
{
    text-align: right;
    padding-left: 140px;
}

.text-right_dessert_3
{
    text-align: right;
    padding-left: 50px;
}

.text-right_plat_3
{
    text-align: right;
    padding-left: 540px;
}

/* PLAT 2*/

.text-right_entree_1_P2
{
    text-align: right;
    padding-left: 80px;
}

.text-right_entree_2_P2
{
    text-align: right;
    padding-left: 230px;
}

.text-right_entree_3_P2
{
    text-align: right;
    padding-left: 300px;
}

.text-right_entree_4_P2
{
    text-align: right;
    padding-left: 190px;
}


.text-right_plat_1_P2
{
    text-align: right;
    padding-left: 200px;
}

.text-right_plat_2_P2
{
    text-align: right;
    padding-left: 320px;
}

.text-right_plat_3_P2
{
    text-align: right;
    padding-left: 0px;
}


.text-right_dessert_1_P2
{
    text-align: right;
    padding-left: 0px;
}

.text-right_dessert_2_P2
{
    text-align: right;
    padding-left: 290px;
}

.text-right_dessert_3_P2
{
    text-align: right;
    padding-left: 510px;
}

.text-right_plat_3_P2
{
    text-align: right;
    padding-left: 540px;
}

/* PLAT 3*/

.text-right_entree_1_P3
{
    text-align: right;
    padding-left: 440px;
}

.text-right_entree_2_P3
{
    text-align: right;
    padding-left: 260px;
}

.text-right_entree_3_P3
{
    text-align: right;
    padding-left: 600px;
}

.text-right_entree_4_P3
{
    text-align: right;
    padding-left: 170px;
}


.text-right_plat_1_P3
{
    text-align: right;
    padding-left: 80px;
}

.text-right_plat_2_P3
{
    text-align: right;
    padding-left: 120px;
}

.text-right_plat_3_P3
{
    text-align: right;
    padding-left: 570px;
}


.text-right_dessert_1_P3
{
    text-align: right;
    padding-left: 330px;
}

.text-right_dessert_2_P3
{
    text-align: right;
    padding-left: 580px;
}

.text-right_dessert_3_P3
{
    text-align: right;
    padding-left: 250px;
}

/* PLAT 4*/

.text-right_entree_1_P4
{
    text-align: right;
    padding-left: 440px;
}

.text-right_entree_2_P4
{
    text-align: right;
    padding-left: 180px;
}

.text-right_entree_3_P4
{
    text-align: right;
    padding-left: 590px;
}

.text-right_entree_4_P4
{
    text-align: right;
    padding-left: 170px;
}


.text-right_plat_1_P4
{
    text-align: right;
    padding-left: 380px;
}

.text-right_plat_2_P4
{
    text-align: right;
    padding-left: 300px;
}

.text-right_plat_3_P4
{
    text-align: right;
    padding-left: 370px;
}


.text-right_dessert_1_P4
{
    text-align: right;
    padding-left: 600px;
}

.text-right_dessert_2_P4
{
    text-align: right;
    padding-left: 590px;
}

.text-right_dessert_3_P4
{
    text-align: right;
    padding-left: 500px;
}


.margin-top_entre
{
    padding-top: 35px;
    margin-top: 100px;
    margin-left: 50px;
}

.spe:before {
	position: absolute;
	font-size: 20px;
	border-bottom: solid #99E2D0 3px;
	content: "";
	width: 60px;
	top: 890px;
	font-weight: bold;
}

.spe2:before {
	position: absolute;
	font-size: 20px;
	border-bottom: solid #99E2D0 3px;
	content: "";
	width: 60px;
    top: 1560px;
	font-weight: bold;
}

.spe3:before {
	position: absolute;
	font-size: 20px;
	border-bottom: solid #99E2D0 3px;
	content: "";
	width: 60px;
    top: 2240px;
	font-weight: bold;
}

.bull2
{
    background-color: #fff;
    border-radius: 20px;
    height: 150px;
    padding-top: 0px;
    margin-bottom: 10px;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.size44
{
    font-size: 44px;
}

.size60
{
    font-size: 60px;
}

.margin-top_entre
{
    margin-top: 35px;
}

.center
{
    text-align: center;
}

.bg-2d2d2d
{
    background-color: #2d2d2d;
}

.footer-color
{
    color: #fff;
}

.align-left
{
    text-align: left;
}

.padding_footer
{
    padding-left: 15px;
}

.bouton {
    display: flex;
    align-items: center;
	width: 110px;
    height: 45px;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
	color: #FFF;
	border-radius: 50px;
	text-decoration: none;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
	margin-left: auto;
    margin-right: auto;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20PX;
    box-shadow: 0px -2px 0px 0px #CECECE ;
}

.arrow-link
{
    padding-right: 400px;
}
