/** Main page**/
@font-face {
	font-family: 'Roboto-Black';
	src: url('police/Roboto-Black.ttf') format('truetype');	
}

@font-face {
	font-family: 'Shrikhand-Regular';
	src: url('police/Shrikhand-Regular.otf') format('otf');	
}


body
{
    font-family: Roboto-Black;
    margin: 0;
}

.Shrikhand
{
    font-family: Shrikhand-Regular;
}

.logo
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.h1
{
    margin-left: 3%;
    margin-top: 10%;
}

.degrade_ligne
{
    margin: 0;
    background: -webkit-linear-gradient(#808080, #A9A9A9, #C0C0C0);
}

.location
{
    background-color: #dcdcdc;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    padding-top: 20px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
}

.misc
{
    background-color: #efefef;
    text-align: center;
    height: 250px;
    padding-top: 40px;
}

.bold
{
    font-weight: bold;
}

.size26
{
    font-size: 26px;
}

.size30
{
    font-size: 30px;
}

.size40
{
    font-size: 40px;
}

.size60
{
    font-size: 60px;
}

.bg-dcdcdc
{
    background-color: #dcdcdc;
    width: 750px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 25px;
}

.bg-2d2d2d
{
    background-color: #2d2d2d;
}

.footer-color
{
    color: #fff;
}

.center
{
    text-align: center;
}

.center-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center_div
{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    padding-bottom: 50px;
}

.align-left
{
    text-align: left;
}

.padding_footer
{
    padding-left: 15px;
}

.img_size
{
    height: 10px;
    width: 10px;
}

.bull
{
    background-color: #efefef;
    border-radius: 20px;
    height: 70px;
    padding-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 24px;
}

.bullet
{
    width: 10px;
    height: 50px;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
	color: #FFF;
	border-radius: 20px;
	text-decoration: none;
    padding: 5px;
    font-size: 20PX;
    text-align: left;
}

.plat-size
{
    height: 600px;
    width: 750px;
    margin-bottom: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.bouton {
	width: 300px;
    height: 45px;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
	color: #FFF;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20PX;
    box-shadow: 0px -2px 0px 0px #CECECE ;
}

/** #726f69 (gris icone) **/
