body
{
	background-color: grey;
	font-size: 18px;
	font-weight: ;
	font-family: Helvetica;
}

.div-contains
{
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.div-jaune
{
	background-color: #FFC107;
	padding-bottom: 20px;
	width: 100%;
}

.div-blanc
{
	background-color: #FFF;
	width: 100%;
}

.div-bar1
{
	display: flex;
	align-items: center;
	background-color: #424242;
	height: 35px;
	color: #FFC107;	
	justify-content: center;
	font-weight: bold;
}


.div-bar2
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #424242;
	height: 35px;
	color: #FFC107;	
	font-weight: bold;	
}

.div-bar3
{
	display: flex;
	align-items: center;
	background-color: #424242;
	height: 35px;
	margin-top: 15%;
	color: #FFC107;	
	justify-content: center;
	font-weight: bold;
}


div-bar1, p
{
	padding: 5%;
}

ul
{
	list-style-type: none;
}

.loisirimg
{
	width: 50px;
	height: 50px;
}

.first-name
{
	color: #FFC107;
	font-size: 3rem;
}

.name
{
	font-size: 3rem;
}

.spe:before
{
	position: absolute;
	font-size: 1.5rem;
	border-bottom: solid #FFC107 1.5px ;
	content: "";
	width: 60px;
	top: 110px;
	font-weight: bold;
}


.portrait
{
	padding: 0%;
}

.portraitimg
{
	width: 100%;
	display: none;
}

.titre
{
	position: relative;
	margin: 10%;	
}

.moi
{
	padding: 10%;
	padding-bottom: 400px;
}

.h2titre
{
	border-bottom: solid #FFC107 2px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.reco-contains
{
	display: flex;
	padding-left: 0%;
	padding-right: 0%;
}

.reco1
{
	width: 50%;
	font-size: 30px;
}

.li
{
	padding-bottom: 7%;
}

.li2
{
	padding-bottom: 0%;
}

.formation
{
	padding: 0;
}

.formation-contains
{
	display: flex;
}

.formation1
{
	width: 15%;
	padding: 30px;
	margin-top: 24px;
}

.formation11
{
	width: 85%;
	padding: 0px;
}

.ico
{
	float: left;
}

.icocss
{
	background-image: url("empty.png");
	background-repeat: no-repeat;
	background-size: 10px;
}

.reco2
{
	padding-left: 20%;
}

.cv-contains
{
	padding: 5px;
}