body
{
	background-color: grey;
}

#div-contain
{
	display: flex;
	padding: 10%;
}

.div-jaune
{
	background-color: #FFC107;
	width: 20%;
	height: 1500px;
}

.div-blanc
{
	background-color: #FFF;
	width: 80%;
	height: 1500px;
}

.div-bar1
{
	background-color: #4E342E;
	height: 35px;
	margin-top: %;
	color: #FFC107;	
	text-align: center;
	font-weight: bold;
}

.div-bar2
{
	background-color: #4E342E;
	height: 35px;
	margin-top: 20%;
	color: #FFC107;	
	text-align: center;
	font-weight: bold;
}

.div-bar3
{
	background-color: #4E342E;
	height: 35px;
	margin-top: 15%;
	color: #FFC107;	
	text-align: center;
	font-weight: bold;
}

div-bar1, p
{
	padding: 5%;

}

ul
{
	list-style-type: none;
}

.first-name
{
	color: #FFC107;
	font-size: 3rem;
}

.name
{
	font-size: 3rem;
}

.spe
{
	font-size: 1.5rem;
}

.formation
{
	font-size: 2rem;
	position: relative;
	top: 90px;
}